@inject IProductData productData
@inject IUserData userData
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider

@page "/"

<PageTitle>Store App</PageTitle>

<h3>Store Web App</h3>

